@font-color: black;
@border-color: black;
@border-radius: 5px;
.jean-list-control {
    color: @font-color;
    width: 100%;
    border-radius: @border-radius;
    border: 1px solid @border-color;
    padding: 5px;
    #body {
        overflow-y: scroll;
        #jean-list-element {
            color: @font-color;
        }
    }
}